/* General rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    background: black;
}

hr {
    width: 75%;
    margin: auto;
    border-width: 2px;
    border-color: cornflowerblue;
    border-radius: 50px;
}

.btn {
    margin: 0em 2em;
    height: 1.75em;
    width: 15em;
    font-style: italic;
    font-weight: bolder;
    border-width: 0.1em;
    background: #f0f0f0;
}

.btn:hover {
    background: #cfcbcb;
}

/* Form container rules */

::-webkit-input-placeholder {
    font-style: italic;
}

.formContainer, .creditsContainer {
    position: relative;
    display: block;
    margin: 1em;
    background: whitesmoke;
    font-size: 1.25em;
    border-radius: 25px;
}

.formContainer h1 {
    margin: 0.75em;
}

.formContainer form {
    margin: 0.15em;
    padding: 0.25em;
}

.formContainer form div {
    margin: 2em 0.5em;
}

/* Credits rules */
.creditsContainer {
    font-size: 1.1em;
    padding: 0.5em;
}